---
- name: "Remove existing container {{ gitlab__name }}"
  community.docker.docker_container:
    name: "{{ gitlab__name }}"
    state: absent
  when: gitlab__remove_existing_container

- name: Remove home directory
  ansible.builtin.file:
    state: absent
    path: "{{ gitlab__home }}"
  when: gitlab__remove_existing_home_dir

- name: Create directories
  ansible.builtin.file:
    state: directory
    path: "{{ item.path }}"
    mode: "{{ item.mode | default('0755') }}"
    owner: "{{ item.owner | default(docker_uid) | default('root') }}" # First docker user (if docker role has run), otherwise default role, otherwise root
    group: "{{ item.group | default(docker_gid) | default('root') }}"
  with_items: "{{ gitlab__directories }}"

- name: Create a network for Gitlab
  community.docker.docker_network:
    name: "{{ gitlab__network }}"
    ipam_config:
      - subnet: "{{ gitlab__network_cidr }}"
        gateway: "{{ gitlab__network_cidr | ansible.utils.ipaddr('next_usable') }}"
        iprange: "{{ gitlab__network_cidr }}"

- name: Check if gitlab.rb already exist
  ansible.builtin.stat:
    path: "{{ gitlab__home }}/config/gitlab.rb"
  register: gitlab_rb_file
  when: gitlab__allow_local_modification_gitlab_rb|bool

- name: Set proxy request
  ansible.builtin.set_fact:
    gitlab__proxy_real_ip_trusted_addresses: "{{ gitlab__proxy_real_ip_trusted_addresses + ['127.0.0.1/8'] }}"

- name: Copy gitlab.rb template
  ansible.builtin.template:
    src: gitlab.rb.j2
    dest: "{{ gitlab__home }}/config/gitlab.rb"
    mode: "0660"
  notify: Restart gitlab
  when: not gitlab__allow_local_modification_gitlab_rb or (gitlab_rb_file.stat is defined and not gitlab_rb_file.stat.exists)

- name: Copy SSL cert file
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/files/certs/{{ gitlab__ssl_cert_file }}"
    dest: "{{ gitlab__home }}/config/ssl/{{ gitlab__hostname }}.crt"
    mode: '0544'
  when: gitlab__ssl_cert_file is defined and gitlab__ssl_cert_file|length>5

- name: Copy SSL cert key file
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/files/certs/{{ gitlab__ssl_cert_key_file }}"
    dest: "{{ gitlab__home }}/config/ssl/{{ gitlab__hostname }}.key"
    mode: '0544'
  when: gitlab__ssl_cert_key_file is defined and gitlab__ssl_cert_key_file|length>5

- name: Copy SSL cert key password file
  ansible.builtin.template:
    src: "cert_key_password.j2"
    dest: "{{ gitlab__home }}/config/ssl/key_file_password.txt"
    mode: '0544'
  when: gitlab__ssl_cert_key_password is defined and gitlab__ssl_cert_key_password|length>5

- name: Copy SSL cert file for registery
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/files/certs/{{ gitlab__registery_ssl_cert_file }}"
    dest: "{{ gitlab__home }}/config/{{ gitlab__registery_ssl_cert_file }}"
    mode: '0544'
  when: gitlab__registery_ssl_cert_file is defined and gitlab__registery_ssl_cert_file|length>5

- name: Copy SSL cert key file for registery
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/files/certs/{{ gitlab__registery_ssl_cert_key_file }}"
    dest: "{{ gitlab__home }}/config/{{ gitlab__registery_ssl_cert_key_file }}"
    mode: '0544'
  when: gitlab__registery_ssl_cert_key_file is defined and gitlab__registery_ssl_cert_key_file|length>5

- name: Check if trusted-certs folder and files exists
  ansible.builtin.stat:
    path: "{{ playbook_dir }}/files/certs/trusted-certs/"
  register: trusted_certs_dir

- name: Copy content over from trusted-certs
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/files/certs/trusted-certs/"
    dest: "{{ gitlab__home }}/config/trusted-certs/"
    mode: '0544'
  when: trusted_certs_dir.stat.isdir is defined and trusted_certs_dir.stat.isdir

- name: Run GitLab container in host mode
  community.docker.docker_container:
    name: "{{ gitlab__name }}"
    image: "{{ gitlab__image }}"
    hostname: "{{ gitlab__hostname | default(omit) }}"
    restart_policy: always
    network_mode: host
    env: >-
      {{
        (gitlab__default_env | to_nice_yaml | from_yaml)
        | combine(gitlab__env | default({}))
        | dictsort
        | items2dict
      }}
    volumes: "{{ (gitlab__directory_volumes + gitlab__file_volumes) | sort }}"
    log_driver: "{{ gitlab__log_driver }}"
    log_options: "{{ gitlab__log_options }}"
  when: gitlab__network_mode is defined and gitlab__network_mode == 'host'
  notify: Restart gitlab

- name: Run GitLab container in bridged mode
  community.docker.docker_container:
    name: "{{ gitlab__name }}"
    image: "{{ gitlab__image }}"
    hostname: "{{ gitlab__hostname | default(omit) }}"
    restart_policy: always
    networks: "{{ gitlab__container_networks }}"
    ports: "{{ gitlab__ports }}"
    env: >-
      {{
        (gitlab__default_env | to_nice_yaml | from_yaml)
        | combine(gitlab__env | default({}))
        | dictsort
        | items2dict
      }}
    volumes: "{{ (gitlab__directory_volumes + gitlab__file_volumes) | sort }}"
    log_driver: "{{ gitlab__log_driver }}"
    log_options: "{{ gitlab__log_options }}"
  when: gitlab__network_mode undefined or (gitlab__network_mode is defined and gitlab__network_mode != 'host')
  notify: Restart gitlab
